{% extends 'layout.html' %}

{% block content %}
<div class="form-card">
    <h2>✨Tambah Data Makeup Baru✨</h2>
    <form method="POST">
        <div class="form-group">
            <label for="nama_produk">Nama Produk</label>
            <input type="text" name="nama_produk" id="nama_produk" placeholder="Masukkan Nama Produk" required>
        </div>
        <div class="form-group">
            <label for="deskripsi">Deskripsi</label>
            <textarea name="deskripsi" id="deskripsi" placeholder="Deskripsi singkat produk"></textarea>
        </div>
        <div class="form-group">
            <label for="tahun_terbit">Tahun Terbit</label>
            <input type="number" name="tahun_terbit" id="tahun_terbit" placeholder="Contoh: 2023" required>
        </div>
        <div class="form-group">
            <label for="harga">Harga (Rp)</label>
            <input type="number" name="harga" id="harga" placeholder="Contoh: 239000" required>
        </div>
        <div class="form-group">
            <label for="url_gambar">URL Gambar</label>
            <input type="text" name="url_gambar" id="url_gambar" placeholder="https://example.com/image.png" required>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Simpan</button>
            <a href="{{ url_for('makeup_list') }}" class="btn btn-secondary">Kembali</a>
        </div>
    </form>
</div>
{% endblock %}